.classifying-message{
     display: flex;
     font-size: 20px;
}

.classifying-message p{
     margin-left: 10px;
}

.header{
     display: flex;
     justify-content: center;
}

.logo{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
}

.center-container{
     display: flex;
     justify-content: center;
}

.result-message{

     display: flex;
     justify-content: center;
}

.results-table-main{
     display: flex;
     justify-content: center;
}

.results-table{
     text-align: center;
}
