.camera-container{
     margin: 20px;
     /* width: 600px;
     height: 900px; */
}

.camera-container div div  {
     bottom: 0 !important;
     position: relative !important;
     padding: 0  !important;
     margin-top: 20px;
}
